endpoints:
  manjaro-18.1.0-architect-kernel:
    path: /manjaro-core-18.x/releases/download/REPLACE_RELEASE_NAME/
    files:
    - initrd
    - vmlinuz
    os: manjaro
    flavor: architect
    version: "18.1.0"
